<html>
    <head>
        <title>My</title>

        <base href="/"/>

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700" rel="stylesheet">

        <link rel="stylesheet" href="css/board.min.css"/>

        <%- helmet.link.toString() %>
    <body>
        <div id="main"><%- markup %></div>
        <script type="text/javascript" src="js/index.bundle.js"></script>
    </body>
</html>