@import "global.less";

#rootCnt {
    display: flex;
}

#menuCnt {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 1rem;

    a {
        padding: .5rem 2rem;
        text-decoration: none;
        background-color: #464646;
        color: #fff;

        &:first-child {
            border-radius: .5rem .5rem 0 0;
        }

        &:last-child {
            border-radius: 0 0 .5rem .5rem;
        }

        &:hover {
            background-color: #3a30b9;
        }
    }
}

#mainCnt {
    margin: 1rem 1rem 1rem .5rem;
    background-color: white;
    border: 1px solid #d4d4d4;
    padding: 1rem;
    flex: 1;
    border-radius: .5rem;
}

#title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

#topBar {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    
    thead {
        tr {
            background-color: #3b4a9c;
            color: #fff;

            th {
                padding: .5rem 1rem;
                text-align: center;

                &:first-child {
                    border-radius: .5rem 0 0 0;
                }

                &:last-child {
                    border-radius: 0 .5rem 0 0;
                }
            }
        }
    }

    tbody {
        tr {
            &:nth-child(2n) {
                background-color: #dadada;
            }
            
            &:nth-child(2n+1) {
                background-color: #f9f9f9;
            }

            &:last-child {
                td:first-child {
                    border-radius: 0 0 0 .5rem;
                }

                td:last-child {
                    border-radius: 0 0 .5rem 0;
                }
            }

            td {
                text-align: center;
                padding: .5rem 0;
            }
        }
    }
}

.notificationCnt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
}